
body {
  font-family: "Cormorant Garamond", serif;
  background-color: #F3F2F1;
  color: #3e463e;
}

.font-size-h1 {
  font-size: 80px;
  font-weight: 400;
}


.heavy-weight {
  font-weight: 700;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

